{% load static %}

<nav class="navbar navbar-expand-lg bg-white w-100 shadow-sm">

	<div class="d-flex justify-content-between px-4 w-full">
		<div class="d-flex align-items-center">
			<button class="mobile-menu-button hamburger hamburger--collapse " type="button" data-bs-toggle="collapse" id="mobile-menu-button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<span class="px-4"><i class="fa-solid fa-square-poll-vertical fa-3x" style="color: #3b5178;"></i></span>
		</div>
		<div class="input-group" style="width: 30%"> 
			<span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
			<input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
		</div>
		<div>
			<img
				src="https://docs.material-tailwind.com/img/face-2.jpg"
				alt="avatar"
				class="rounded-circle shadow-black h-10 w-10"
				style="height: 50px; width: 50px;"
			     />
		</div>

	</div>


	<div class="fixed hidden mobile-menu justify-center" id="mobile-menu">
		<div class="flex justify-center">
			<ul class="text-white px-0">
				<li><a href="#" class="block text-sm px-2 py-4 text-white hover:bg-gray-700 hover:text-white transition duration-300">Home</a></li>
				<li><a href="#" class="block text-sm px-2 py-4 text-white hover:bg-gray-700 hover:text-white transition duration-300">Link</a></li>
				<li><a href="#" class="block text-sm px-2 py-4 text-white hover:bg-gray-700 hover:text-white transition duration-300">Dropdown</a></li>
				<li><a href="#" class="block text-sm px-2 py-4 text-white cursor-not-allowed">Disabled</a></li>
			</ul>

		</div>
	</div>


</nav>

<script>
	const mobileMenuButton = document.getElementById('mobile-menu-button');
	const mobileMenu = document.getElementById('mobile-menu');
      
	mobileMenuButton.addEventListener('click', () => {
		mobileMenu.classList.toggle('hidden');
		mobileMenuButton.classList.toggle('is-active');
	});
</script>


    

